body{
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button {
  cursor: pointer;
}

h1{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(5, 5, 121);
}

#section1 {
  display: block;
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 10px;
  margin: auto;
  text-align: center;
  width: 50%;
  color: rgb(5, 5, 121);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#results{
  display: block;
  text-align: center;
}

#section2{
  display: block;
  /* border: solid 5px red; */
  padding: 40px;
  text-align: center;
  color: rgb(5, 5, 121);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#section3{
  color: rgb(5, 5, 121);
  /* border:solid 5px black; */
  text-align: center;
  margin-top: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#mealsList{
  list-style: none;
}

#instructions{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
