body{
  background-image: linear-gradient(to right, #833ab4, #fd1d1d);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button {
  cursor: pointer;
}

h1{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(57, 149, 224);
}

#firstH2{
  border: solid rgba(243, 238, 231, 0.74);
  /* background-color: rgba(90, 133, 134, 0.74); */
  border-radius: 10px;
  border-style: hidden;
  padding: 5px
}

#section1 {
  display: block;
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 10px;
  margin: auto;
  text-align: center;
  width: 50%;
  color: rgb(5, 5, 121);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#results{
  display: block;
  text-align: center;
  color:azure;
}
/* #results:empty{
  display: none
} */

.emptyHeart{
  color: grey;
}
.fullHeart{
  color:#fd1d1d;
  font-size: 20px;
}

#section2{
  display: block;
  /* border: solid 5px red; */
  padding: 40px;
  text-align: center;
  color: rgb(5, 5, 121);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#section3{
  color: rgb(5, 5, 121);
  /* border:solid 5px black; */
  text-align: center;
  margin-top: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#mealsList{
  list-style: none;
}

#instructions{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#ingredientList{
  list-style: none;
}
